:root {
  --primary-color: #eb0202;
  --grey-color: #eef0f2;
}

.header {
  background-color: var(--grey-color);
  margin-bottom: 1.875rem;
  padding: 1.875rem 0;
}
.header h4 span {
  color: var(--primary-color);
}

.pagination .page-item:not(.active):not(.disabled) .page-link {
  color: var(--primary-color);
}
.pagination .page-item.active .page-link {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
